@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a.active {
  color: #34547A;
}

.text {
  width: 40%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

.center-content {
  width: 70%;
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  background-color: #EEEFF1;
}

header {
  padding: 40px 0px;
}
header nav a {
  color: #000000;
  text-transform: uppercase;
  margin-right: 5%;
  font-size: 16px;
}
header nav a:hover {
  color: #3c71b2;
}

.main-wrapper {
  background-color: #EEEFF1;
}

section {
  width: 100%;
  height: 100vh;
  max-height: 100%;
}

section.main-section {
  display: flex;
}

.main-section .main-content {
  align-content: center;
  height: 100%;
}
.main-section .main-content h1 {
  margin-bottom: 60px;
  font-weight: 500;
}
.main-section .main-content .btn {
  margin-top: 65px;
}
.main-section .main-content .btn a {
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 16px;
  background: #34547A;
  color: #ffffff;
}
.main-section .main-content .btn a:hover {
  background: #5a86bc;
}

.about-wrapper {
  background: #ffffff;
  max-height: 100%;
}

section.about-section {
  height: 60vh;
}

.about-section .about-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section .about-content .text {
  text-align: center;
  margin-top: 50px;
}

.projects-wrapper {
  background: #34547A;
}

section.projects-section {
  height: 30vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.projects-section .projects-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects-section .projects-content .project-item {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.projects-section .projects-content .project-item p {
  font-size: 16px;
}

.projects-section .projects-content .project-item p span {
  font-size: 21px;
}

.projects-section .projects-content .project-item svg {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.process-wrapper {
  background: #EEEFF1;
}

.process-section .process-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-section .process-content .text {
  text-align: center;
  margin-top: 3%;
}

.process-section .process-content .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.video {
  margin-top: 57px;
  width: 70%;
  position: relative;
}

img.play {
  margin-top: 57px;
  position: absolute;
  width: 5%;
}

.footer-wrapper {
  background: #34547A;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 40px;
  color: #ffffff;
}

footer .footer-content h3 {
  font-size: 21px;
  font-weight: 500;
}

footer .footer-content .footer-text {
  margin-top: 20px;
  font-size: 13px;
}

@media (min-width: 1720px) {
  .text {
    font-size: 24px;
    line-height: 32px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  header nav a {
    font-size: 24px;
  }
  .main-section .main-content .btn a {
    padding: 25px 45px;
    font-size: 22px;
  }
  .projects-section .projects-content .project-item p {
    font-size: 24px;
  }
  .projects-section .projects-content .project-item p span {
    font-size: 32px;
  }
  .projects-section .projects-content .project-item svg {
    width: 80px;
    height: 80px;
  }
  footer .footer-content h3 {
    font-size: 32px;
  }
  footer .footer-content .footer-text {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .text {
    width: 60%;
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  header nav a {
    font-size: 16px;
  }
  .main-section .main-content .btn a {
    padding: 15px 35px;
    font-size: 14px;
  }
  .projects-section .projects-content .project-item p {
    font-size: 14px;
  }
  .projects-section .projects-content .project-item p span {
    font-size: 22px;
  }
  .projects-section .projects-content .project-item svg {
    width: 40px;
    height: 40px;
  }
  footer .footer-content h3 {
    font-size: 20px;
  }
  footer .footer-content .footer-text {
    font-size: 14px;
  }
}
@media (max-width: 659px) {
  header nav .nav-items {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header nav .nav-items a {
    margin-right: 0;
    font-size: 14px;
  }
  .projects-section .projects-content .project-item svg {
    margin-right: 10px;
  }
}
@media (max-width: 475px) {
  .text {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  header {
    padding: 40px;
  }
  header nav a {
    color: #000000;
    text-transform: uppercase;
    margin-right: 5%;
    font-size: 14px;
  }
  .main-section .main-content h1 {
    margin-bottom: 40px;
    font-weight: 500;
  }
  .main-section .main-content .btn {
    margin-top: 45px;
  }
  .main-section .main-content .btn a {
    padding: 15px 35px;
    font-size: 14px;
  }
  .projects-section .projects-content .project-item p {
    font-size: 14px;
  }
  .projects-section .projects-content .project-item p span {
    font-size: 20px;
  }
  .projects-section .projects-content .project-item svg {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  footer .footer-content h3 {
    font-size: 20px;
  }
  footer .footer-content .footer-text {
    font-size: 14px;
  }
}
@media (max-width: 431px) {
  .text {
    font-size: 12px;
    line-height: 18px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  header nav .nav-items {
    max-width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px 20px;
  }
  header nav .nav-items a {
    margin-right: 0;
    font-size: 12px;
  }
  .main-section .main-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
  }
  .main-section .main-content .btn {
    margin-top: 45px;
  }
  .main-section .main-content .btn a {
    padding: 12px 25px;
    font-size: 12px;
  }
  .about-section .about-content .text {
    margin-top: 20px;
  }
  .projects-section .projects-content .project-item p {
    font-size: 12px;
  }
  .projects-section .projects-content .project-item p span {
    font-size: 16px;
  }
  .projects-section .projects-content .project-item svg {
    margin-right: 5px;
    width: 35px;
    height: 35px;
  }
  img.video {
    margin-top: 57px;
    width: 100%;
    position: relative;
  }
  img.play {
    margin-top: 57px;
    position: absolute;
    width: 8%;
  }
  footer .footer-content h3 {
    font-size: 16px;
  }
  footer .footer-content .footer-text {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media (orientation: landscape) and (max-height: 716px) {
  .text {
    font-size: 12px;
    line-height: 18px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  header nav .nav-items {
    max-width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px 20px;
  }
  header nav .nav-items a {
    margin-right: 0;
    font-size: 12px;
  }
  .main-section .main-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
  }
  .main-section .main-content .btn {
    margin-top: 45px;
  }
  .main-section .main-content .btn a {
    padding: 12px 25px;
    font-size: 12px;
  }
  .about-section .about-content .text {
    margin-top: 20px;
  }
  .projects-section .projects-content .project-item p {
    font-size: 12px;
  }
  .projects-section .projects-content .project-item p span {
    font-size: 16px;
  }
  .projects-section .projects-content .project-item svg {
    margin-right: 5px;
    width: 35px;
    height: 35px;
  }
  img.video {
    margin-top: 57px;
    width: 100%;
    position: relative;
  }
  img.play {
    margin-top: 57px;
    position: absolute;
    width: 8%;
  }
  footer .footer-content h3 {
    font-size: 16px;
  }
  footer .footer-content .footer-text {
    margin-top: 10px;
    font-size: 12px;
  }
  img.video {
    margin-top: 57px;
    width: 50%;
    position: relative;
  }
  img.play {
    margin-top: 57px;
    position: absolute;
    width: 3%;
  }
}
@media (orientation: landscape) and (max-height: 391px) {
  .text {
    font-size: 12px;
    line-height: 16px;
  }
  h1 {
    margin-top: 70px;
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
@media (orientation: landscape) and (max-height: 321px) {
  section.projects-section {
    height: 35vh;
  }
  .process-section .process-content .text {
    text-align: center;
    margin-top: 15px;
  }
  img.video {
    margin-top: 27px;
  }
  img.play {
    margin-top: 27px;
  }
}/*# sourceMappingURL=style.css.map */