.header-wrapper {
    position: fixed;
    width: 100%;
    background-color: $backgorung-color-grey;
}

header {
    padding: 40px 0px;
    nav {
        a {
            color: #000000;
            text-transform: uppercase;
            margin-right: 5%;
            font-size: 16px;
            &:hover {
                color: $hover-color;
            }
        }
    }
}